In [ ]:
import pandas as pd
import numpy as np
from scipy import spatial

In [ ]:
dataset = pd.read_excel('assignment6.xlsx')

In [ ]:
dataset

   sepal_length  sepal_width  petal_length  petal_width     species
0           5.1          3.5           1.4          0.2      setosa
1           4.9          3.0           1.4          0.2      setosa
2           4.7          3.2           1.3          0.2      setosa
3           4.6          3.1           1.5          0.2      setosa
4           5.0          3.6           1.4          0.2      setosa
5           7.0          3.2           4.7          1.4  versicolor
6           6.4          3.2           4.5          1.5  versicolor
7           6.9          3.1           4.9          1.5  versicolor
8           5.5          2.3           4.0          1.3  versicolor
9           6.5          2.8           4.6          1.5  versicolor

In [ ]:
dataset['species'] = dataset['species'].map({'setosa':0,'versicolor':1})

In [ ]:
X_train = dataset.drop('species',axis=1)
y_train = dataset.species

In [ ]:
X_test = pd.DataFrame([[8.2,2.6,3.2,1.8]],columns=['sepal_length','sepal_width','petal_length','petal_width'])

In [ ]:
class knn():
  K = 0
  X_train = ''
  y_train = ''
  def __init__(self,k):
    self.K = k
  def fit_train_data(self,features,labels):
    self.X_train = features
    self.y_train = labels
  def euclidean_distance(self,x,y):
    return spatial.distance.euclidean(x, y)
  def sort_distance(self,x):
    return dict(sorted(x.items(), key=lambda y:y[1]))
  def common(self,lst):
    return max(set(lst), key=lst.count)
  def pred(self,feature):
    dist = {}
    first_k_values = []
    for i in range(len(feature)):
      for j in range(len(X_train)):
        distance = euclidean_distance(X_train.iloc[j],feature.iloc[i])
        dist[j] = distance
    distance_sorted = self.sort_distance(dist)
    first_k_value  = list(distance_sorted.items())[:self.K]
    for i,j in first_k_value:
      first_k_values.append(self.y_train.iloc[i])
    return self.common(first_k_values)

In [ ]:
#knn = 3
knn_obj = knn(3)
knn_obj.fit_train_data(X_train,y_train)
print(knn_obj.pred(X_test))

#knn = 5
knn_obj = knn(3)
knn_obj.fit_train_data(X_train,y_train)
print(knn_obj.pred(X_test))

#knn = 7
knn_obj = knn(3)
knn_obj.fit_train_data(X_train,y_train)
print(knn_obj.pred(X_test))

1
1
1